* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

