.header {
    display: flex;
    justify-content: space-between;
    height: 51px;

    &__icon {
        height: 32px;
        width: 32px;
        background-color: #C4C4C4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right {
        width: 155px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__exit {
        height: 15px;
        width: 15px;
    }
    &__name{
        font-size: 15px;
    }

    &__name,
    &__exit,
    &__icon {
        cursor: pointer;
    }
}