.main {
    display: flex;
    justify-content: space-around;

    .block__search {
        background-color: #F9F8F6;
    }

    &__right {
        padding-top: 16px;
        // padding-left: 20px;

    }

    &__left {
        width: 305px;

        &-person {
            border: 1px solid #E4E4E4;
        }

        &-input {
            outline: none;
            border: none;
            color: #999999;
            background-color: #F9F8F6;
            height: 22px;
            // width: 340px;
        }
    }

    .person {
        height: 80px;
        padding-top: 8px;
        background: #E7E6E1;
        display: flex;

        &__nostatus {
            padding-top: 14px;
            height: 66px;
        }

        &__active {
            background-color: white;
        }

        &__foto {
            margin-right: 12px;
            height: 57px;
            width: 57px;
        }

        &__descr {
            margin-right: 45px;
            margin-top: 7px;
        }

        &__name {
            color: #058DC7;
            opacity: 0.5;
            font-size: 14px;
        }

        &__name-active {
            color: #058DC7;
            font-size: 14px;
            opacity: 1;
        }

        &__position {
            color: #808080;
            font-size: 12px;
            margin-top: 2px;
        }

        &__holiday {
            width: 54px;
            height: 16px;
            background: #2DD0C6;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
        }

        &__status {
            color: white;
            font-size: 12px;
        }

        &__number {
            margin-top: 25px;
            font-size: 25px;
            color: #A2A2A2;

            &-active {
                color: #EE144E;
            }

            &-nostatus {
                margin-top: 18px;
            }
        }

        &__dismissal {
            width: 82px;
            background: #D2154F;
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-info {
            display: flex;
            height: 130px;
            border-bottom: 2px solid #E4E4E4;

            &__list {
                color: #058DC7;
                font-size: 13px;
            }

            &__right-bottom {
                display: flex;
            }

            &__block {
                padding-left: 35px;
                width: 140px;
                border-right: 1px solid #C6C6C6;
                margin-top: 15px;

                &_border {
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }

                &_padding {
                    padding-left: 0;
                }
            }

            &__activity {
                color: #808080;
                font-size: 13px;

                &_color {
                    color: #3E3E3E;
                }
            }

            &__left {
                display: flex;
                width: 315px;
            }

            &__foto {
                margin-right: 10px;
                height: 57px;
            }

            &__name {
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 30px;
                color: #000000;
            }

            &__eye {
                position: absolute;
                margin-top: 7px;
                margin-left: 3px;
            }

            &__position {
                color: #808080;
                font-size: 12px;
                margin-top: -3px;
            }

            &__right-top {
                display: flex;
                justify-content: space-between;
            }

            &__statistics {
                // margin-top: 20px;
                color: #808080;
                font-size: 13px;

            }

            &__numbers {
                display: flex;
                margin-top: 5px;
            }

            &__number {
                font-size: 25px;
                font-weight: 600;
            }

            &__changes {
                margin-top: -5px;
                margin-left: 7px;
            }

            &__percent {
                color: #EE144E;
                font-size: 11px;
            }

            &__icons {
                padding-left: 10px;
                cursor: pointer;
            }
        }

    }

}