@media screen and (max-width:1700px) {
    .center {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        &__right {
            margin-right: 15px;
        }
    }

    .person-info {
        &__block {
            width: 205px;
        }
    }

    .person {
        &__number {
            margin-left: 60px;
        }
    }

    .main {
        justify-content: space-between;

        &__left {
            width: 380px;
        }

        &__right {
            padding-right: 20px;
        }
    }

    .anomaly {
        &__block {
            width: 350px;
        }

        &__p {
            font-size: 14px;
        }
    }

    .statistic {
        margin-bottom: 20px;

        .table__td_style-1 {
            width: 200px;
        }

        td {
            font-size: 15px;
            height: 25px;
        }

        th {
            font-size: 15px;
            height: 25px;
        }

        .table_width-2 {
            width: 120px;
        }

        .table__td_small {

            font-size: 13px;

        }

    }

    .staff {
        &__block {
            margin-left: 15px;
        }
    }
}

@media screen and (max-width:1650px) {
    .person-info {
        &__block {
            width: 200px;
        }
    }

    .main {
        &__left {
            width: 340px;
        }
    }

    .person {
        &__number {
            margin-left: 10px;
        }
    }

    .anomaly {
        &__block {
            width: 350px;
        }
    }
}

@media screen and (max-width:1600px) {
    .person-info {
        &__block {
            width: 190px;
        }
    }

    .main {
        &__left {
            width: 330px;
        }
    }
}

@media screen and (max-width:1550px) {
    .person-info {
        &__block {
            width: 170px;
        }
    }

    .main {
        &__left {
            width: 330px;
        }
    }
    .statistic{
        .table__td_style-1{
            width: 190px;
        }
        .table_width-2{
            width: 110px;
        }
    }
}
@media(max-width:1550)and(min-width:1441px){
    .statistic{
        .table__td_style-1{
            width: 190px;
        }
        .table_width-2{
            width: 110px;
        }
    }
}

@media screen and (max-width:1470px) {
    .person-info {
        &__block {
            width: 165px;
        }
    }

    .anomaly {
        &__block {
            width: 330px;
        }
    }
}

@media screen and (max-width:1440px) {
    .person {
        &__number {
            font-size: 20px;
        }
    }

    .person-info {
        &__block {
            width: 145px;
        }

        .main {
            &__left {
                width: 350px;
            }
        }
    }

    .anomaly {
        &__block {
            width: 280px;
        }
    }

    .statistic {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;

        &__block_align {
            justify-self: center;
            grid-column: 1/3;
        }

    }


}

@media screen and (max-width:1370px) {
    .person {

        &__position,
        &__status {
            font-size: 11px;
        }
    }

    .person-info {
        &__block {
            width: 135px;
        }
    }

    .main {
        &__left {
            width: 310px;
        }
    }
}

@media screen and (max-width:1300px) {
    .person-info {
        &__name {
            font-size: 20px;
        }

        &__block {
            width: 120px;
        }

        &__icons {
            padding-left: 6px;
        }

        &__block_border {
            justify-content: start;
        }
    }

    .main {
        &__left {
            width: 310px;
        }
    }


}

@media screen and (max-width:1235px) {
    .person-info {
        &__left {
            width: 285px;
        }
    }

    .anomaly {
        &__main {
            justify-content: space-around;
        }

        &__h4 {
            margin-left: 15px;
        }

        &__block {
            width: 260px;
        }
    }


}

@media screen and (max-width:1215px) {
    .person-info {
        display: block;
        height: 180px;

        &__block {
            width: 160px;
        }

        &__right {
            margin-top: 20px;

            &-top {
                display: none;

                &_hidden {
                    display: flex;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .main {
       &__left{
           width: 325px;
       }

        &__right {
            padding-left: 15px;
        }
    }

    .anomaly {
        height: 325px;

        &__main {
            flex-direction: column;
            align-items: center;
        }

        &__block {
            width: 600px;
            margin-bottom: 20px;
        }
    }
 
}

@media screen and (max-width:1110px) {
    .person-info {
        &__block {
            width: 145px;
            padding-left: 25px;

            &_padding {
                padding-left: 0;
            }
        }
    }

    .statistic {
        display: flex;
        flex-direction: column;
        align-items: center;

        .table {
            &__td_style-1 {
                width: 275px;
            }

            &_width-2 {
                width: 115px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .person-info{
        &__block{
            width: 130px;
        }
    }
    .anomaly {
        &__block {
            width: 500px;
        }
    }

}

@media screen and (max-width:950px) {
    .main {
        justify-content: center;
        &__left {
            display: none;
        }
    }

    .person-info {
        &__block {
            width: 150px;
        }
    }






}