* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 650px);
  padding-right: calc(50% - 650px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 51px;
}

.header__icon {
  height: 32px;
  width: 32px;
  background-color: #C4C4C4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__right {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__exit {
  height: 15px;
  width: 15px;
}

.header__name, .header__exit, .header__icon {
  cursor: pointer;
}

.staff {
  height: 48px;
  background-color: #F3F2ED;
}

.staff__block {
  padding-top: 12px;
}

.staff__a {
  color: #058DC7;
  margin-right: 4px;
}

.staff__arrow {
  margin-right: 5px;
}

.staff__name, .staff__email {
  color: #707478;
}

.main .block__search {
  background-color: #F9F8F6;
}

.main__left {
  width: 340px;
}

.main__left-input {
  outline: none;
  border: none;
  color: #999999;
  background-color: #F9F8F6;
  height: 22px;
}

.main .person {
  height: 80px;
  padding-top: 8px;
  background: #E7E6E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .person__nostatus {
  padding-top: 14px;
  height: 66px;
}

.main .person__active {
  background-color: white;
}

.main .person__foto {
  margin-right: 12px;
  height: 57px;
  width: 57px;
}

.main .person__descr {
  margin-right: 45px;
  margin-top: 7px;
}

.main .person__name {
  color: #058DC7;
  opacity: 0.5;
}

.main .person__name-active {
  color: #058DC7;
  font-size: 16px;
  opacity: 1;
}

.main .person__position {
  color: #808080;
  font-size: 15px;
  margin-top: 2px;
}

.main .person__holiday {
  width: 54px;
  height: 16px;
  background: #2DD0C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.main .person__status {
  color: white;
  font-size: 12px;
}

.main .person__number {
  margin-top: 25px;
  font-size: 25px;
  color: #A2A2A2;
}

.main .person__number-active {
  color: #EE144E;
}

.main .person__number-nostatus {
  margin-top: 18px;
}

.main .person__dismissal {
  width: 82px;
  background: #D2154F;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */